MONGODB_URI=
MONGODB_DB=wendy_luxury
NEXT_PUBLIC_BASE_URL=http://localhost:3000
PAYSTACK_SECRET_KEY=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
JWT_SECRET=change-me
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEETS_ID=
